<h1>New Dinosaur Type!</h1>

<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>

<%= form_for @type do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>


<%= "Thank You!" %>
