<h1>New Dinosaur Food!</h1>

<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %>

<%= form_for @prey do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br />
<%= f.label :weight %>
<%= f.text_field :weight %><br />
<%= "Who eats you?:" %><br />
<%= f.collection_check_boxes :dinosaur_ids, Dinosaur.all, :id, :name %>


<%= f.submit %>
<% end %>


<%= "Thank You!" %>
